/* 全域 */
/* Variables */
:root {
    /* color */
    --primary-700: #CC4402;
    --primary-600: #DD5300;
    --primary-500: #FF6000;
    --primary-300: #FDDDC8;
    --primary-100: #FFF2EA;
    --secondary-700: #475F7B;
    --secondary-500: #5C90CD;
    --secondary-300: #91BEF2;
    --grey-30: #F8F8F8;
    --grey-50: #EFEFEF;
    --grey-100: #EAEAEA;
    --grey-200: #E1E1E1;
    --grey-300: #D8D8D8;
    --grey-400: #CECECE;
    --grey-500: #C5C5C5;
    --grey-600: #A5A5A5;
    --grey-700: #868686;
    --grey-800: #666666;
    --grey-900: #474747;
    --white: #ffffff;
    --black: #000000;
    --warning: #E64B4B;
    /* Text-size styles */
    /* base size: tw--p (16px) */
    --tw--h1: 3rem;
    --tw--h2: 2.25rem;
    --tw--h3: 1.88rem;
    --tw--h4: 1.75rem;
    --tw--h5: 1.38rem;
    --tw--h6: 1.12rem;
    --tw--p: 1rem;
    --tw--p-small: 0.88rem;
    /* Effect styles */
    --header-shadow-m: 0px 2px 8px rgba(51, 51, 51, 0.2);
    --footer-shadow-m: 0px -2px 8px rgba(51, 51, 51, 0.2);
    --card-shadow: 0px 2px 5px rgba(151, 81, 51, 0.15);
    /* body */
    --body--min-width: 375px;
    --body--max-width: 767px;
    /* button */
    --button--padding-x: 30px;
    --button--padding-y: 12px;
    --button--border-radius: 4px;
    --button--gap: 4px;
    --button--secondary-border: 1px;
    --button--xs-padding: 4px;
    --button--xs-border-radius: 50px;
    /* card */
    --card--padding: 24px;
    --card--border-radius: 8px;
    --card--shadow-y: 2px;
    --card--shadow-blur: 5px;
    /* container-fluid */
    --container-fluid--column: 3px;
    --container-fluid--padding-x: 24px;
    --container-fluid--padding-y: 48px;
    --container-fluid--gap: 48px;
    /* footer */
    --footer--padding-x: 36px;
    --footer--padding-y: 16px;
    --footer--gap: 12px;
    --footer--shadow-y: -2px;
    --footer--shadow-blur: 15px;
    /* header */
    --header--shadow-y: 2px;
    --header--shadow-blur: 8px;
    --header--padding-x: 24px;
    --header--padding-y: 12px;
    /* input-field */
    --input-field--border-radius: 4px;
    --input-field--padding-x: 12px;
    --input-field--padding-y: 8px;
    --input-field--border: 1px;
    --input-field--gap: 8px;
    /* modal */
    --modal--header-padding-right: 60px;
    --modal--header-padding-left: 24px;
    --modal--header-padding-top: 20px;
    --modal--padding-x: 24px;
    --modal--body-padding-y: 32px;
    --modal--body-gap: 32px;
    --modal--border-radius: 8px;
    --modal--footer-padding-bottom: 24px;
    /* pop-up */
    --pop-up--padding-x: 80px;
    --pop-up--padding-y: 72px;
    --pop-up--border-radius: 8px;
    /* progress-bar */
    --progress-bar--padding-top: 60px;
    /* section */
    --section--padding-top: 24px;
    --section--padding-bottom: 80px;
    /* textarea */
    --textarea--border: 0.5px;
    --textarea--padding-bottom: 60px;
    /* gap */
    --gap-xxs: 8px;
    --gap-xs: 16px;
    --gap-md: 24px;
    --gap-lg: 28px;
    --gap-xl: 32px;
    --gap-xxl: 48px;
}

/* Color */
.g-400 {
    color: var(--grey-400);
}

.g-600 {
    color: var(--grey-600);
}

.g-800 {
    color: var(--grey-800);
}

.g-900 {
    color: var(--grey-900);
}

.p-300 {
    color: var(--primary-300);
}

.p-700 {
    color: var(--primary-700);
}

.s-700 {
    color: var(--secondary-700);
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 0;
}

h1 {
    font-size: var(--tw--h1);
}

h2 {
    font-size: var(--tw--h2);
}

h3 {
    font-size: var(--tw--h3);
}

h4 {
    font-size: var(--tw--h4);
}

h5 {
    font-size: var(--tw--h5);
}

h6 {
    font-size: var(--tw--h6);
}

p {
    font-size: var(--tw--p);
}

.p-small {
    font-size: var(--tw--p-small);
    font-weight: 400;
    letter-spacing: 1px;
}

html {
    overflow-y: scroll;
}

body {
    font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif;
    transform: none;
    width: 100%;
    background-color: var(--grey-30);
}

input[type='text'] {
    font-size: var(--tw--p-small);
}

/* Components */
.btn.button-primary,
.btn.button-outline-secondary {
    gap: var(--button--gap);
    padding: var(--button--padding-y) var(--button--padding-x);
    border-radius: var(--button--border-radius);
}

.btn.button-primary {
    background-color: var(--primary-500);
    color: white;
}

.btn.button-primary:hover {
    background-color: var(--primary-600);
}

.btn.button-primary:active,
.btn.button-primary:focus:active {
    background-color: var(--primary-700);
}

.btn.button-outline-secondary {
    background-color: white;
    color: var(--primary-500);
    border: var(--button--secondary-border) solid var(--primary-500);
}

.btn.button-outline-secondary:hover {
    background-color: var(--primary-100);
}

.btn.button-outline-secondary:active,
.btn.button-outline-secondary:focus:active {
    background-color: var(--primary-300);
    color: var(--primary-500);
    border: var(--button--secondary-border) solid var(--primary-500);
}

.logo {
    width: 125px;
}

.header-m {
    padding: var(--header--padding-y) var(--header--padding-x);
    box-shadow: var(--footer-shadow-m);
    z-index: 1030;
}

.footer-m {
    padding: var(--footer--padding-y) var(--footer--padding-x);
    box-shadow: var(--header-shadow-m);
    z-index: 1030;
}

.form-theme h4 {
    color: black;
}

.hyperlink {
    color: var(--secondary-700);
}

#exampleModalToggle2 .input-group .form-control[type="text"] {
    font-size: var(--tw--p);
}

.form-control::placeholder {
    color: var(--grey-500);
    font-weight: 400;
    letter-spacing: 1px;
}

#exampleModalToggle .form-control::placeholder,
#exampleModalToggle2 .form-control::placeholder {
    color: var(--grey-500);
    font-size: var(--tw--p-small);
    font-weight: 400;
}

.form-check-input:checked {
    background-color: var(--primary-500);
    border-color: var(--primary-500);
}

.img-wrapper {
    border: 1.5px dashed var(--grey-600);
}

.form-switch .form-check-input {
    border: 2px solid var(--grey-200);
}

.form-switch .form-check-input:checked {
    background-color: var(--primary-700);
    border-color: var(--primary-700);

}

.table {
    border: 1px solid var(--grey-400);
    font-size: var(--tw--p-small);
    letter-spacing: 1px;
    border-collapse: separate;
    border-spacing: 1px;
}

.table th {
    border: none;
}

thead {
    border-bottom: 1px solid var(--grey-400);
}

tbody th,
tbody td {
    border: none;
    padding: 0 !important;
}

thead tr {
    padding-bottom: .75rem;
}

thead tr th {
    font-weight: bold;
}

tbody tr {
    padding: 8px 0 8px 8px;
}

td input.form-control {
    padding: 4px 0 4px 8px;
}

.card {
    padding: .75rem;
    gap: .75rem;
    border: 1px solid var(--grey-200);
    border-radius: var(--card--border-radius);
    box-shadow: var(--card-shadow);
}

.info-items {
    padding: 0 4px 0 12px;
}

.secondary-spec-tag {
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid var(--secondary-700);
    color: var(--secondary-700);
}

/* Body */
main {
    padding: 52px var(--container-fluid--padding-x) var(--container-fluid--padding-y) var(--container-fluid--padding-x);
    position: relative;
}

.breadcrumb {
    color: var(--secondary-700);
}

.breadcrumb li.active {
    color: var(--grey-600);
}

.breadcrumb li a {
    color: var(--secondary-500);
}

section {
    padding-top: var(--section--padding-top);
    padding-bottom: var(--section--padding-bottom);
}

.img-group {
    gap: 12px;
    padding: 12px 24px;
}

.img-group img {
    width: 8rem;
    height: 8rem;
}

.card-body img {
    width: 6rem;
    height: 6rem;
}


.input-group .img-wrapper {
    padding: 24px 36px;
}

/* Modal */
body.modal-open {
    padding: 0 !important;
}

.modal-dialog {
    /* max-width: 320px; */
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 52px;
}

.modal-backdrop {
    height: 100%;
}

.modal-header {
    padding: var(--modal--header-padding-top) var(--modal--header-padding-right) 0 var(--modal--header-padding-left);
}

/* .modal-header .fa-xmark {
    top: 2rem;
    right: 1.5rem;
} */

.modal-header .btn-close {
    top: 1.3rem;
    right: 1.2rem;
}

.modal-body {
    padding: var(--modal--body-padding-y) var(--modal--padding-x);
    gap: 32px;
}

.modal-footer-m {
    padding: var(--footer--padding-y) var(--footer--padding-x) var(--modal--footer-padding-bottom) var(--footer--padding-x);
}